$container: 1230px;
$font-family1: 'Comfortaa', cursive;
$font-family2: 'Inter', sans-serif;

$color1: #262c27;
$color2: #fff;
$color3: #b9c400;
$color4: #0093a1;

%btn-small {
  color: $color2;
  background-color: $color1;
  font-family: $font-family1;
  font-size: 20px;
  line-height: 23px;
  font-weight: 700;
  padding: 11px 74px;
}

%btn-big {
  font-family: $font-family1;
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
  padding: 18px 197px;
  color: $color4;
  border: 2px solid $color4;
}

%btn-hover-small {
  color: $color1;
  background-color: $color3;
}

%btn-hover-big {
  color: $color1;
  background-color: $color3;
  border: 2px solid $color3;
}

%title {
  font-size: 60px;
  line-height: 67px;
  font-weight: 400;
  text-transform: uppercase;
}

%play-btn {
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: $color2;
  transition: color 0.3s;
  font-family: $font-family2;
}
