@import 'vars';
@import 'reset';
@import 'libs';
@import 'global';

// === header ===

.header {
  min-height: 100vh;
  position: relative;
  // height: 100vh;
  background-image: url('@img/header__bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  &::before {
    content: '';
    position: absolute;
    background-image: url('@img/trees.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 456px;
    bottom: -250px;
    left: 0;
    right: 0;
    z-index: 5;
  }

  &::after {
    content: '';
    position: absolute;
    background-image: url('@img/trees.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 456px;
    bottom: -400px;
    left: 0;
    right: 0;
    z-index: 5;
    transform: rotate(180deg);
  }

  &__nav {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    max-width: 670px;
    margin-bottom: 262px;
  }

  &__logo,
  &__btn {
    margin-right: 15px;
  }

  &__btn {
    @extend %btn-small;
    text-transform: uppercase;

    &:hover {
      text-decoration: underline;
    }
  }

  &__link {
    color: $color1;
    font-size: 20px;
    line-height: 22px;
    font-weight: 700;

    &:hover {
      text-decoration: underline;
    }
  }

  &__textbox {
    max-width: 548px;
    margin-left: auto;
    text-align: center;
  }

  &__text {
    color: $color2;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 120px;
    }
  }

  &__title {
    font-size: 64px;
    line-height: 71px;
  }

  &__bigtext {
    color: $color4;
    font-size: 130px;
    line-height: 144px;
    opacity: 0.3;
  }

  &__dom {
    margin-left: auto;
    text-align: right;
    margin-right: 142px;
  }

  &__box {
    position: absolute;
    bottom: -130px;
    right: 300px;
    width: 789px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 11;
  }

  &__textblue {
    max-width: 360px;
    font-family: $font-family2;
    font-size: 32px;
    line-height: 38px;
    color: $color4;
    text-align: center;
    font-style: italic;
    text-transform: uppercase;
  }

  &__decor {
    height: 180px;
    position: absolute;
    bottom: -180px;
    left: 0;
    width: 100%;
    background-color: $color1;
  }
}

// === /header ===

// === main ===

.main {
  // padding-top: 400px;
  position: relative;
}

// === /main ===

// === specs ===

.specs {
  background-image: url('@img/specs_bg.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  position: relative;
  color: $color2;
  padding-bottom: 50px;

  &__inner {
    padding-top: 250px;
  }

  &__box {
    display: flex;
    gap: 82px;
    align-items: flex-end;
    margin-bottom: 597px;
  }

  &__textbox {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 87px;
  }

  &__text {
    max-width: 290px;
    font-family: $font-family2;
    font-size: 18px;
    line-height: 21px;
  }

  &__text--border {
    padding-bottom: 30px;
    border-bottom: 1px solid $color2;
  }

  &__btn {
    position: absolute;
    left: 193px;
    bottom: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: $color2;
  }

  &__imgbox {
    justify-self: center;
    margin-bottom: 12px;
  }

  &__btnimg {
    margin-left: 16px;
  }

  &__box--bottom {
    display: flex;
    align-items: center;
    gap: 162px;
  }

  &__title {
    text-transform: uppercase;
    font-size: 60px;
    line-height: 66px;
    font-weight: 400;
  }

  &__table {
    padding: 30px 0;
    border-top: 1px solid $color2;
    border-bottom: 1px solid $color2;
    width: 565px;
    font-family: $font-family2;
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    display: flex;
    gap: 25px;
  }

  &__tabletitle:not(:last-child),
  &__tablevalue:not(:last-child) {
    margin-bottom: 24px;
  }

  &__row {
    display: flex;
    // justify-content: space-between;
    
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

// === /specs ===

@import 'media';
